# Import dữ liệu từ file excel report_data.xlsx vào SQL server thành 2 bảng tên là “Order” và “Customer”. 

# File có 2 sheets muốn import vào azure data studio cần dùng azure data factory (chưa được học ...)

In [1]:
import pandas as pd
import numpy as np

In [2]:
#xls = pd.ExcelFile('C:/Users/quan.nguyen/Desktop/data/report_data.xlsx')
xls = pd.ExcelFile('C:/Users/NHQ/Desktop/MindX Test/data/report_data.xlsx')
orders = pd.read_excel(xls, 'Orders')
customer = pd.read_excel(xls, 'Customer')

## Clean Data

In [18]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Country/Region  9994 non-null   object
 7   Postal Code     9983 non-null   float64
 8   Region          9994 non-null   object
 9   Product ID      9994 non-null   object
 10  Category        9994 non-null   object
 11  Sub-Category    9994 non-null   object
 12  Product Name    9994 non-null   object
 13  Sales           9994 non-null   float64
 14  Quantity        9994 non-null   int64
 15  Discount        9994 non-null   float64
 16  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(9)
memory usage: 1.3+ MB

In [19]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Segment        9994 non-null   object
 3   City           9994 non-null   object
 4   State          9994 non-null   object
dtypes: object(5)
memory usage: 390.5+ KB

### Drop Duplicates

In [20]:
customer = customer.drop_duplicates(subset = ['Customer ID', 'Customer Name'],
  keep = 'first').reset_index(drop = True)

In [21]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    793 non-null    object
 1   Customer Name  793 non-null    object
 2   Segment        793 non-null    object
 3   City           793 non-null    object
 4   State          793 non-null    object
dtypes: object(5)
memory usage: 31.1+ KB

In [22]:
customer.to_csv('C:/Users/NHQ/Desktop/MindX Test/data/Customer.csv',index= False)

In [24]:
orders.to_csv('C:/Users/NHQ/Desktop/MindX Test/data/Order.csv',index= False)

In [25]:
orders.isna().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Country/Region     0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [26]:
customer.isna().sum()

Customer ID      0
Customer Name    0
Segment          0
City             0
State            0
dtype: int64